<template name="HomePublic">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> HomePublicHomeJumbotron}}
	</div>
</template>

<template name="HomePublicHomeJumbotron">
	<div class="jumbotron ">
		<div id="content" class="container">
			<h1 id="component-title">
				이용안내
			</h1>
			<p id="jumbotron-text">
				<b>우측 회원가입후 로그인 하면, 상단 메뉴에 평가기준 입력을 위한 메뉴가 나타납니다.</b><br />It shows how to work with DataViews, Forms with dates and lookup fields, master-detail relations etc.<br />PC에 설치방법은 <a href="https://bit.ly/pt1201" target="_blank">here</a>에 있습니다.
			</p>
			<p id="jumbotron-button">
				<a href="#" class="btn btn btn-primary btn-lg" role="button">
					Continue &raquo;
				</a>
			</p>
		</div>
	</div>
</template>

