<template name="Form1Insert">
	<div class="page-container container" id="content">
		<div class="row" id="title_row">
			<div class="col-md-12">
			</div>
		</div>
		{{> Form1InsertInsertForm}}
	</div>
</template>

<template name="Form1InsertInsertForm">
	<div id="form1insert-insert-form" class="">
		<h2 id="component-title">
			New data
		</h2>
		<form role="form">
			{{#if errorMessage}}
			<div class="alert alert-warning">
				{{errorMessage}}
			</div>
			{{/if}}

			{{#if infoMessage}}
			<div class="alert alert-success">
				{{infoMessage}}
			</div>
			{{/if}}
			<div class="form-group  field-name">
				<label for="name">
					평가항목
				</label>
				<div class="input-div">
					<input type="text" name="name" value="" class="form-control " autofocus="autofocus" required="required">
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-standard">
				<label for="standard">
					평가기준
				</label>
				<div class="input-div">
					<textarea class="form-control " name="standard"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-step">
				<label for="step">
					평가절차
				</label>
				<div class="input-div">
					<textarea class="form-control " name="step"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group  field-note">
				<label for="note">
					참고사항
				</label>
				<div class="input-div">
					<textarea class="form-control " name="note"></textarea>
					<span id="help-text" class="help-block">
					</span>
					<span id="error-text" class="help-block">
					</span>
				</div>
			</div>
			<div class="form-group">
				<div class="submit-div">
					<a href="#" id="form-cancel-button" class="btn btn-default">
						Cancel
					</a>
					<button id="form-submit-button" class="btn btn-success" type="submit">
						Save
					</button>
				</div>
			</div>
		</form>
	</div>
</template>

